.newsletter{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: black;
    border-top: 2px solid white;
}

.newsletter h1{
    color: white;
    font-size: 30px;
    font-weight: 600;

}

.newsletter p{
    color: white;
    font-weight: 600;
}

.newsletter .input{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 80px;
    border: 1px solid white;

}

.newsletter input{
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 200px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.social-icons{
    display: flex;
    gap: 30px;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 760px) {

    .newsletter{

        width: 100%;
    
    }

    .newsletter div button{
        width: 150px;
        height: 53px;
        font-size: 13px;
    }

    .newsletter h1{
        font-size: 20px;
        font-weight: 700;
    
    }
    
    .newsletter p{
        font-size: 14px;
        font-weight: 600;
    }
}
