.item{
    width: 150px;
    color: whites;
    font-size: 18x;

}

.item img{
    width: 150px;
}

.item p{
    margin: 6px 0px;
    font-size: 18x;
}

.item-price{
    display: flex;
    gap: 20px;
    font-size: 18x;
}

.Item-price{
    font-size: 18x;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}